@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  .allfoods{
    border: 5px solid white;
    background-color: aliceblue;
  }